:root {
  /* 颜色变量 */
  --color-primary:#6e45e2; /* 主色 */
  --color-secondary:#88d3ce; /* 次级色 */
  --color-success: #28a745; /* 成功提示色 */
  --color-danger: #dc3545; /* 错误提示色 */
  --color-warning: #ffc107; /* 警告色 */
  --color-info: #17a2b8; /* 信息提示色 */
  --color-light: #f8f9fa; /* 浅色 */
  --color-dark: #343a40; /* 深色 */


  /* 字体相关变量 */
  --font-size-base: 16px; /* 基础字体大小 */
  --font-size-sm: 14px; /* 小字体 */
  --font-size-lg: 18px; /* 大字体 */
  --font-color-light: white;  /* 亮色字 */
  --font-color-dark: #333333;  /* 暗色字 */
  --line-height-base: 1.5; /* 基础行高 */
}
